 //Här börjar footer
 footer{
    height: 18vw;
    background-color: #333;
    color: white;
    position: relative;
  }
  .LiveStream{
    font-size: 1.5vw;
    padding-top: 5%;
    position: absolute;
    left: 20%;
  }
  .p7{
    font-size: 1vw;
    width: 23%;
    padding-top: 10%;
    position: absolute;
    left: 20%;
  }
  .p7-1{
    font-size: 1vw;
    padding-top: 18%;
    position: absolute;
    left: 20%;
  }
  .p8{
    font-size: 1vw;
    padding-top: 10%;
    position: absolute;
    left: 58%;
    direction: rtl;
  }
  .p8-1{
    font-size: 1vw;
    padding-top: 16%;
    position: absolute;
    left: 61.5%;
  }