*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(226, 226, 226);
}
.container {
	max-width: 70%;
	margin: auto;
	background: white;
    padding: 10px;
   
}
.rubrik{
    font-size: 25px;
    padding-top: 20px;
    text-align: center;
}
img{
    width: 100%;
    position: relative;
    bottom: 60px;
  
}
.Hey-guys
{
    color: #333;
    position: relative;
    text-align: center;
    bottom: 120px;
    left: 15%;
    font-size: 30px;
    font-weight: 900;
}
.p1{
    color: #333;
    text-align: center;
    position: relative;
    bottom: 80px;
    font-size: 20px;
}
.p2{
    color: #333;
    text-align: center;
    position: relative;
    left: 12%;
    bottom: 80px;
    font-size: 20px;
}